@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h4>@ViewData["Title"]</h4>

<h2>Registration Page</h2>
<div class="row">
    <form class="col s6" asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col m6 s6 input-field">
                    <input asp-for="Fname" class="validate" />
                    <label asp-for="Fname"></label>
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>
                
                <div class="col m6 s6 input-field">
                    <input asp-for="Lname" class="validate" />
                    <label asp-for="Lname"></label>
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col m6 s6 input-field">
                    <input asp-for="Email" class="validate" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col m6 s6 input-field">
                    <input asp-for="UserName" class="validate" />
                    <label asp-for="UserName"></label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div> -->

            <div class="row">
                <div class="col m6 s6 input-field">
                    <input asp-for="Password" class="validate" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            
                <div class="col m6 s6 input-field">
                    <input asp-for="ConfirmPassword" class="validate" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col m6 s6 input-field">
                    <input asp-for="Birthdate" class="datepicker" />
                    <label class="active" asp-for="Birthdate"></label>
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Register</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}