<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Planner @ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo"><i class="material-icons">cake</i>Wedding Planner</a>
            <ul class="right">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="material-icons">info</i></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="material-icons">business</i></a></li>
                @await Html.PartialAsync("Partials/_LoginPartial")
            </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container center-align">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer>
        @RenderSection("Scripts", required: false)
        <script src="~/js/jquery-1.10.2.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
    </footer>
</body>
</html>