@model WeddingPlanner.Models.ViewWedding

<nav>
    <h1>Plan Your Wedding</h1>
    <a href="/wedding">Dashboard</a>
    <a href="/account/logout">Logout</a>
</nav>

<form method="post" asp-controller="Wedding" asp-action="Create">
    <div class="input-field">
        <span asp-validation-for="BrideName"></span>
        <label asp-for="BrideName"></label>
        <input class="validate" asp-for="BrideName">
    </div>
    <div class="input-field">
        <span asp-validation-for="GroomName"></span>
        <label asp-for="GroomName"></label>
        <input class="validate" asp-for="GroomName">
    </div>
    <div class="input-field">
        <span asp-validation-for="Date"></span>
        <label asp-for="Date"></label>
        <input class="validate" asp-for="Date">
    </div>
    <div class="input-field">
        <span asp-validation-for="Address"></span>
        <label asp-for="Address"></label>
        <input class="validate" asp-for="Address">
    </div>
    <input type="submit" value="Create">
</form>