@{
    ViewData["Title"] = "Dashboard";
}
@using WeddingPlanner.Models;

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="">wedding.bride_name & wedding.groom_name</td>
            <td>Date Here</td>
            <td>Count here</td>
            <td>RSVP</td>
        </tr>
    </tbody>
</table>
<a href="/wedding/create"><button>Create a New Wedding</button></a>