@model WeddingViewModel
@{
    ViewData["Title"] = "- Add a New Wedding";
}

<h4>Add a Wedding</h4>
<div class="divider"></div>
<div class="section container">
    <form class="" asp-controller="Wedding" asp-action="AddWedding" method="post">
        <div asp-validation-summary="ModelOnly" id="login-error"></div>
        <span asp-validation-for="GroomName" class="text-danger"></span>
        <div class="input-field">
            <label asp-for="GroomName"></label>
            <input asp-for="GroomName" class="validate" />
        </div>
        
        <span asp-validation-for="BrideName" class="text-danger"></span>
        <div class="input-field">
            <label asp-for="BrideName"></label>
            <input asp-for="BrideName" class="validate" />
        </div>

        <span asp-validation-for="Address" class="text-danger"></span>
        <div class="input-field">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="validate" />
        </div>

        <span asp-validation-for="Date" class="text-danger"></span>
        <div class="input-field">
            <label class="active" asp-for="Date"></label>
            <input asp-for="Date" class="datepicker" />
        </div>
        <button type="submit" class="btn waves-effect waves-light">Add Wedding</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("Partials/_ValidationScriptsPartial")
}