@{
    ViewData["Title"] = "Registration & Login";
}

<div class="row section center-align">
    <div class="col s6 center-align" id="register-form">@await Html.PartialAsync("Partials/_RegistrationFormPartial")</div>
    <div class="col s6 center-align" id="login-form">@await Html.PartialAsync("Partials/_LoginFormPartial")</div>
</div>