@model LoginViewModel
@using Microsoft.AspNetCore.Identity
@using WeddingPlanner.Models.ViewModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "- Login";
}

<div class="row">
    <form class="col s6" asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="input-field col s6">
            <label class="active" asp-for="Email"></label>
            <input asp-for="Email" class="validate" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="input-field col s6">
            <label class="active" asp-for="Password"></label>
            <input asp-for="Password" class="validate" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="input-field col s6">
            <div class="checkbox">
                <label class="active" asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <div class="input-field col s6">
            <button type="submit" class="btn waves-effect waves-light">Log in</button>
        </div>
        <div class="col s6">
            <p>
                <a asp-action="Register" asp-controller="Account">Register as a new user?</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}