h6 {
    font-weight: 500 !important;
}

.card-panel {
    border-radius: 10px !important;
}

.field-validation-error {
    color: #f44336 !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    font-size: 80% !important;
}

/* label color */
.input-field label {
    color: #000 !important;
}


/* label focus color */
.input-field input[type=text]:focus+label {
    color: #000 !important;
}


/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


/* label underline focus color */
textarea:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}


/* icon prefix focus color */
.input-field .prefix.active {
    color: #000 !important;
}

.chip {
    height: auto !important;
    line-height: 1.2 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: right !important;
}

.hoverable {
    background-color: #fffde7 !important;
}

.hoverable:hover {
    background-color: #fff9c4 !important;
}

.second {
    background-color: #f1faff !important;
}

.second:hover {
    background-color: #e1f5fe !important;
}

.right-3 {
    margin-left: 5px !important;
    margin-top: 1px !important;
}

.top-post:before {
    display:block;
    position:absolute;
    content:'';
    left: 0;
    width: 100%;
    height: 50px;
    background-size: 100px 100%;
    top: 0;
    background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, #1e73be), color-stop(0.5, #81d742));
    background-image: linear-gradient(15deg, #1e73be 50%, #81d742 50%);
}