@model WeddingPlanner.Models.ViewModels.LoginViewModel

<h3 class="thin">Login</h3>
<div class="divider"></div>
<form class="col s12" asp-controller="Account" asp-action="Login" method="post" id="login">
    <div asp-validation-summary="ModelOnly" id="login-error"></div>
    <span asp-validation-for="LEmail"></span>
    <div class="input-field">
        <label class="active" asp-for="LEmail"></label>
        <input asp-for="LEmail" class="validate" />
    </div>
    <span asp-validation-for="LPassword"></span>
    <div class="input-field">
        <label class="active" asp-for="LPassword"></label>
        <input asp-for="LPassword" class="validate" />
    </div>
    <div class="section">
        <p class="right-align">
            <input type="checkbox" asp-for="RememberMe" id="RememberMe" />
            <label class="active" asp-for="RememberMe" for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
        </p>
    </div>
    <button type="submit" class="btn waves-effect waves-light" action="login">Log in</button>
</form>