@using DojoLeague.Models;
@using Microsoft.AspNetCore.Http;

<!-- <div class="row section">
    <div class="col s6 m6 l6" id="ninja-form">@Html.Partial("./Partials/NinjaForm")</div>
    <div class="col s6 m6 l6" id="dojo-form">@Html.Partial("./Partials/DojoForm")</div>
</div> -->

Ninja added!