<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Planner @ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo"><i class="material-icons">cake</i>Wedding Planner</a>
            <ul class="right">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About"><i class="material-icons">info</i></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="material-icons">business</i></a></li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="section">
            @RenderBody()
        </div>
    </main>

    <!-- <footer class="page-footer red darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">My ASP.NET Application</h5>
                    <p class="grey-text text-lighten-4">
                    You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Sitemap</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer> -->

    @RenderSection("Scripts", required: false)

    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

</body>
</html>